<!-- site-notes></site-notes -->
<simple-summary-stats></simple-summary-stats>

<section class="section-blocks-transactions">
  <div class="container">
    <div class="section-blocks-transactions-inner">
      <div class="section-blocks-transactions-item section-blocks">
        <div class="section-blocks-transactions-title">
          <span class="span__blocks-transactions-title">BLOCKS</span>
          <span class="icon icon__refresh" ng-click="reloadBlocks()"></span>
        </div>
        <div class="section-blocks-items">
          <div class="section-blocks-item" ng-repeat="t in latest_blocks track by $index">
            <div class="section-blocks-item-block icon icon__cube">
              <div class="section-blocks-item-block-inner">
                <a href="/block/{{t.number}}" class="span__blocks-transactions-item_title">{{t.number}}</a>
                <span class="span__blocks-transactions-item_light">{{t.timestamp | timeDuration }} ago</span>
              </div>
            </div>
            <div class="section-blocks-item-block">
              <a class="span__blocks-transactions-item" href="/addr/{{t.miner}}">{{t.extraData}}</a>
              <a class="span__blocks-transactions-item" href="/addr/{{t.miner}}">{{t.miner}}</a>
              <span class="span__blocks-transactions-item">{{t.txn}} txns</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section-blocks-transactions-item section-transactions">
        <div class="section-blocks-transactions-title">
          <span class="span__blocks-transactions-title">TRANSACTIONS</span>
          <span class="icon icon__refresh" ng-click="reloadTransactions()"></span>
        </div>
        <div class="section-transactions-items">
          <div class="section-transactions-item" ng-repeat="t in latest_txs track by $index">
            <span class="span__blocks-transactions-item_info-date color-red" data-date="{{t.timestamp | timeDuration }} ago"></span>
            <span class="span__blocks-transactions-item_info" data-title="TX"><b>{{ t.hash.substr(0,20) }}...</b></span>
            <a class="span__blocks-transactions-item_info" data-title="FROM" href="/addr/{{t.from}}">{{ t.from }}</a>
            <a class="span__blocks-transactions-item_info" data-title="TO" href="/addr/{{t.from}}">{{ t.to }}</a>
            <span class="span__blocks-transactions-item_info color-red" data-title="">{{ t.value }} {{ settings.symbol }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>