<section class="section-stats">
  <div class="container">
    <div class="section-stats-wrap">
      <div class="section-stats-inner">
        <div class="section-stats-item">
          <span class="h2__stats" data-title="BLOCK HEIGHT" data-info="{{stats.blockHeight | number: 0 }}"></span>
        </div>
        <div class="section-stats-item">
          <span class="h2__stats" data-title="BLOCK TIME" data-info="{{stats.blockTime | number: 2}} s"></span>
        </div>
        <div class="section-stats-item">
          <span class="span__stats" data-title="NETWORK HASHRATE" data-info="{{stats.hashrate | totalDifficulty}}/s"></span>
        </div>
        <div class="section-stats-item">
          <span class="span__stats" data-title="DIFFICULTY" data-info="{{stats.difficulty | totalDifficulty}}"></span>
        </div>
      </div>
    </div>
  </div>
</section>