<div class="row ">
  <div class="col-md-12 portlet">
    <div class="portlet-body">
      <table class="col-md-6 table duc-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Token name</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="t in tokens track by $index">
            <td> <span class="font-green">{{$index}}</span> </td>
            <td> <a class="font-green" href="/token/{{t.address}}">{{t.name}} ({{t.symbol}})</a> </td>
            <td > <a href="/token/{{t.address}}">{{t.address}}</a> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
